$categories: (
  food: #3BC7C4,
  speech: #FE4C52,
  entertainment: #6600CC,
  event: #69BB7B,
  misc: #8E8D93,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-schedule {
  @each $track, $value in auxiliary-categories() {
    ion-item-sliding[track=#{$track}] ion-label {
      border-left: 2px solid $value;
      padding-left: 10px;
    }
  }
}
