<ion-header>
  <ion-segment padding [(ngModel)]="segment" (ionChange)="updateSchedule()">
    <ion-segment-button value="day1">
      Day 1
    </ion-segment-button>
    <ion-segment-button value="day2">
      Day 2
    </ion-segment-button>
    <ion-segment-button value="day3">
      Day 3
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <ion-list #scheduleList [hidden]="segment != 'day1'">
    <ion-item-sliding *ngFor="let session of schedule1" #slidingItem [attr.track]="session.track | lowercase">
      <button ion-item>
        <h3>{{session.title}}</h3>
        <p>
          {{session.startTime}} &mdash;
          {{session.endTime}}:
          {{session.venue}}
        </p>
      </button>
    </ion-item-sliding>
  </ion-list>
  <ion-list #scheduleList [hidden]="segment != 'day2'">
    <ion-item-sliding *ngFor="let session of schedule2" #slidingItem [attr.track]="session.track | lowercase">
      <button ion-item>
        <h3>{{session.title}}</h3>
        <p>
          {{session.startTime}} &mdash;
          {{session.endTime}}:
          {{session.venue}}
        </p>
      </button>
    </ion-item-sliding>
  </ion-list>
  <ion-list #scheduleList [hidden]="segment != 'day3'">
    <ion-item-sliding *ngFor="let session of schedule3" #slidingItem [attr.track]="session.track | lowercase">
      <button ion-item>
        <h3>{{session.title}}</h3>
        <p>
          {{session.startTime}} &mdash;
          {{session.endTime}}:
          {{session.venue}}
        </p>
      </button>
    </ion-item-sliding>
  </ion-list>
</ion-content>
